{% extends  'home.html' %}

{% block title %}About Page{% endblock  %}

{% block page_title %}<h1 class="h3 mb-3">Condidature</h1>{% endblock  %}

{% block content %}
<div class="card">
    <div class="card-header text-bg-dark">
        <div class="row d-flex justify-content-between">
            <div class="col-3">
                <h1 class="h3 text-light">Modifier Condidtas</h1>
            </div>
            <div class="col-3">
                <a class="btn btn-info" href="{% url 'gestion_condidat' %}">Condidatures</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form class="form-control" method="POST" action="{% url 'update_condida' condidat.id %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="matricule" class="form-label">Matricule</label>
                <input type="text" name="matricule" value="{{ condidat.matricule }}" class="form-control" id="matricule" placeholder="Enter le Matricule Example CON000001">
            </div>
            <div class="mb-3">
                <label for="nom" class="form-label">Nom</label>
                <input type="text" name="first_name" value="{{ condidat.first_name }}" class="form-control" id="nom" placeholder="Entre le nom...">
            </div>
            <div class="mb-3">
                <label for="prenom" class="form-label">Prenom</label>
                <input type="text" name="last_name" value="{{ condidat.last_name }}" class="form-control" id="prenom" placeholder="Enter Le Prenom...">
            </div>
            <div class="mb-3">
                <label for="num_cin" class="form-label">N° CIN</label>
                <input type="text" name="num_cin" value="{{ condidat.num_cin }}" class="form-control" id="num_cin" placeholder="Enter le Numero CIN">
            </div>
            <div class="mb-3">
                <label for="phone" class="form-label">Téléphone</label>
                <input type="text" name="phone" value="{{ condidat.phone }}" class="form-control" id="phone" placeholder="Enter le Numero de téléphone">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">email</label>
                <input type="email" name="email" value="{{ condidat.email }}" class="form-control" id="email" placeholder="Enter l'email...">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% endblock %}